//color variables
$loginBlue:#2B415C;
$gavoNav:#E1DCDC;
$linearGradientBlue: linear-gradient(0deg, rgba(43, 65, 92, 0.64), rgba(43, 65, 92, 0.64)), linear-gradient(269.65deg, rgba(43, 65, 92, 0.5) 49.69%, rgba(173, 216, 220, 0.5) 100%);
$wardBg: rgba(43, 65, 92, 1);
