.add-patient-form {
  color: $loginBlue;

  .found-patient-details {

    background: whitesmoke;
    font-weight: 600;

    // p {
    //   border: 0.5px solid $loginBlue;// }

    span {
      &:hover {
        cursor: pointer;
      }

    }
  }

  .btn-primary {
    background-color: "#2B415C" !important;
  }

  form {
    background: whitesmoke;
    font-weight: 600;

    span {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.organization_name {
  span {
    color: #add8dc;
  }
}

.appointment_table_holder {
  .form-select {
    width: 10rem !important;
  }
}

.nurse-dropDown {
  ul {
    overflow: scroll;
    border-radius: 0.5rem;
    background: white;

    li {
      border-top: 0.5px solid whitesmoke;
      list-style: none;
      padding: 0.3rem;
    }
  }

}

.new-appointment {
  p {
    min-height: 2.4rem;
    padding: 0.2rem;
    text-transform: capitalize;
    border: 0.2px solid rgb(180, 174, 174) !important;
    border-radius: 0.2rem;
  }

  select {
    color: $loginBlue !important;
    font-weight: 600;
    text-transform: capitalize;
  }

  input {
    min-height: 2rem;
  }

  .form-control {
    border: 0.2px solid rgb(180, 174, 174) !important;
  }

  ul {
    list-style: none;
    overflow-y: auto;

    &:hover {
      cursor: pointer !important;
    }

    li {
      border-bottom: #add8dc;
    }
  }

  .avail-doctors {
    margin-top: 4.5rem;
  }
}

.nested-select {
  display: flex;
}

select {
  flex: 1;
  margin-right: 10px;
}

.consulation-nurseView {
  label {
    font-weight: 500;
  }

  p {
    min-height: 2.4rem;
    padding: 0.2rem;
    text-transform: capitalize;
    border: 0.2px solid rgb(180, 174, 174) !important;
    border-radius: 0.2rem;
  }

  .form-control {
    border: 0.2px solid rgb(180, 174, 174) !important;
  }

  input {
    min-height: 2rem;
  }

  .email {
    text-transform: lowercase !important;
  }
}

.user-icon {
  width: 2.5em;
  border-radius: 50%;
}

.recently-added-receptionist-view {
  p {
    min-height: 2.4rem;
    padding: 0.2rem;
    background-color: white;
  }
}

.consultants-avaialable {
  .form-control {
    border: none !important;
    outline: none !important;
  }
}

.dept {
  border: none !important;
  outline: none !important;
  background-color: inherit;

}

.btns {



  .post {
    background-color: $loginBlue;
  }
}

.consultantNames {
  text-transform: capitalize;

  &::before {
    content: "Dr";
  }
}

.select-department::after {
  content: ">>";
}

.profile-nurse {

  box-shadow: 0.5em 0.5em 0.5em #CCCCCC;

  p {
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 0.8em;
    min-height: 2.5em;
    border-bottom: 0.2em solid $gavoNav;
  }

  .email {
    text-transform: lowercase !important;
  }
}

.nurse_search_box {

  margin-right: 10rem !important;
}

.nurse_table {
  width: 100%;

  .table-responsive {
    overflow-y: scroll;

    .nurse_name {
      min-width: 16rem;
    }
  }
}

.nurse-view {
  .user_view_icon {
    width: 6rem;
    border-radius: 50%;
    border: 1px solid $gavoNav;
  }

  h6 {
    text-transform: capitalize;
    font-size: 1.5em;
  }

  .nurse_view_details {
    text-align: left;

    label {
      text-transform: capitalize;
    }

    p {
      font-weight: 400;
      text-transform: capitalize;
      padding-bottom: 0.8em;
      border-bottom: 0.2em solid $gavoNav;
    }

    span {
      margin-top: 1rem;
      min-width: inherit;
    }

    label {
      font-weight: 700;
    }

    .btn-primary {
      background-color: $loginBlue;
      border: $loginBlue;
    }
  }
}


.table_loader {
  margin: auto;
}

.doctor__dashboard {


  .doctor_daily_info {
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}


.user_view_icon {
  min-width: 6rem;
  min-height: 6rem;
  max-width: 6.2rem;
  max-height: 6.2rem;
  border-radius: 50%;
  border: 1px solid $gavoNav;
}

.btn-primary {
  background-color: #2B415C;

  &:hover {
    background-color: #37414e;
    transition: all ease-in-out 1s;
  }
}

.kg_ibs_btn {
  .form-control {
    height: 2.4rem !important;
    border-left: none !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

}

.ward-select {
  text-transform: capitalize;

  span {
    color:$loginBlue span {
      font-size: 0.5rem;
    }
  }


  ::selection {
    background-color: $gavoNav;
  }
}

.assign-patient {

  margin: auto;
  overflow: hidden;
  overflow-y: scroll;

  thead {
    background-color: $loginBlue !important;
    border-radius: 5px;
    text-align: left;
    border-radius: 0.5em;
    text-transform: capitalize;
    color: #ffffff;
  }

  th {
    border: 1px solid $loginBlue;
  }



  tbody {
    color: $loginBlue;
    text-transform: capitalize;

    >tr:nth-child(even) {
      background-color: #e9e9e9;
    }
  }

  .delete {
    border: none;
    color: red;
    text-align: center;


  }

  .card_no {
    width: 10em !important;
  }


}

.assign-ward {
  min-width: 10em !important;
  text-transform: capitalize;
}

.loggedin-notification {


  background: #b7c6da !important;

  color: #3b5779;
  border-radius: 1em 0em 0em 1em;

}

.notification-user-icon {
  width: 4rem;
}

.edit-profile-dropdown {
  color: $loginBlue;

  ul>:nth-child(2) {
    background-color: #D9D9D9;
  }

  .new-photo {
    background-color: #D9D9D9 !important;


  }

  img {
    width: 1.2em;
    height: 1.2em;
  }
}

.live-video {
  video {
    margin: auto;
    max-height: 50vh;
  }

}

// .nurse_search_box {
//   height: 2.5em !important;
// }