.add-patient-form {
  color: $loginBlue;

  .found-patient-details {
    background: whitesmoke;
    font-weight: 600;

    // p {
    //   border: 0.5px solid $loginBlue;// }

    span {
      &:hover {
        cursor: pointer;
      }

    }
  }

  .btn-primary {
    background-color: "#2B415C" !important;
  }

  form {
    background: whitesmoke;
    font-weight: 600;

    span {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.organization_name {
  span {
    color: #add8dc;
  }
}

.appointment_table_holder {
  .form-select {
    width: 10rem !important;
  }
}

.nurse-dropDown {
  ul {
    overflow: scroll;
    border-radius: 0.5rem;
    background: white;

    li {
      border-top: 0.5px solid whitesmoke;
      list-style: none;
      padding: 0.3rem;
    }
  }

}